WCFBook/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50959/BookService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50959/BookService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50959/BookService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Book_WCFREST" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBookService_GetBookList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBookList" />
  </wsdl:message>
  <wsdl:message name="IBookService_GetBookList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBookListResponse" />
  </wsdl:message>
  <wsdl:message name="IBookService_GetBookById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBookById" />
  </wsdl:message>
  <wsdl:message name="IBookService_GetBookById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBookByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IBookService_AddBook_InputMessage">
    <wsdl:part name="parameters" element="tns:AddBook" />
  </wsdl:message>
  <wsdl:message name="IBookService_AddBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddBookResponse" />
  </wsdl:message>
  <wsdl:message name="IBookService_UpdateBook_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBook" />
  </wsdl:message>
  <wsdl:message name="IBookService_UpdateBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBookResponse" />
  </wsdl:message>
  <wsdl:message name="IBookService_DeleteBook_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBook" />
  </wsdl:message>
  <wsdl:message name="IBookService_DeleteBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBookResponse" />
  </wsdl:message>
  <wsdl:portType name="IBookService">
    <wsdl:operation name="GetBookList">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookService/GetBookList" message="tns:IBookService_GetBookList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookService/GetBookListResponse" message="tns:IBookService_GetBookList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBookById">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookService/GetBookById" message="tns:IBookService_GetBookById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookService/GetBookByIdResponse" message="tns:IBookService_GetBookById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookService/AddBook" message="tns:IBookService_AddBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookService/AddBookResponse" message="tns:IBookService_AddBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookService/UpdateBook" message="tns:IBookService_UpdateBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookService/UpdateBookResponse" message="tns:IBookService_UpdateBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookService/DeleteBook" message="tns:IBookService_DeleteBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookService/DeleteBookResponse" message="tns:IBookService_DeleteBook_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBookService" type="tns:IBookService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBookList">
      <soap:operation soapAction="http://tempuri.org/IBookService/GetBookList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBookById">
      <soap:operation soapAction="http://tempuri.org/IBookService/GetBookById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddBook">
      <soap:operation soapAction="http://tempuri.org/IBookService/AddBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBook">
      <soap:operation soapAction="http://tempuri.org/IBookService/UpdateBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBook">
      <soap:operation soapAction="http://tempuri.org/IBookService/DeleteBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IBookService" binding="tns:BasicHttpBinding_IBookService">
      <soap:address location="http://localhost:50959/BookService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>